## Directories, Binaries & Screenshots
docs/ravazque_git
screenshots
minirtObjects
miniRT
src/aux_libft/libft.a
.vscode

## DS_STORE
.DS_STORE

## Mlx
linux-minilibx/libmlx.a
linux-minilibx/libmlx_Linux.a
linux-minilibx/obj/
linux-minilibx/*.o
linux-minilibx/test/mlx-test
linux-minilibx/test/*.o
linux-minilibx/makefile.gen
linux-minilibx/test/makefile.gen
linux-minilibx/*~
linux-minilibx/*.core
linux-minilibx/test/*~
linux-minilibx/test/*.core
linux-minilibx/*.a
linux-minilibx/*.so

## Mlx Gitignore
linux-minilibx/Makefile.gen
linux-minilibx//test/mlx-test
linux-minilibx/.vscode/*
linux-minilibx/*~
linux-minilibx/\#*\#
linux-minilibx/.DS_STORE
linux-minilibx/*.d
linux-minilibx/*.o
linux-minilibx/*.ko
linux-minilibx/*.obj
linux-minilibx/*.elf
linux-minilibx/*.ilk
linux-minilibx/*.map
linux-minilibx/*.exp
linux-minilibx/*.gch
linux-minilibx/*.pch
linux-minilibx/*.lib
linux-minilibx/*.a
linux-minilibx/*.la
linux-minilibx/*.lo
linux-minilibx/*.dll
linux-minilibx/*.so
linux-minilibx/*.so.*
linux-minilibx/*.dylib
linux-minilibx/*.exe
linux-minilibx/*.out
linux-minilibx/*.app
linux-minilibx/*.i*86
linux-minilibx/*.x86_64
linux-minilibx/*.hex
linux-minilibx/*.dSYM/
linux-minilibx/*.su
linux-minilibx/*.idb
linux-minilibx/*.pdb
linux-minilibx/*.mod*
linux-minilibx/*.cmd
linux-minilibx/.tmp_versions/
linux-minilibx/modules.order
linux-minilibx/Module.symvers
linux-minilibx/Mkfile.old
linux-minilibx/dkms.conf
